.list {
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-rows: 50px 1fr;
  position: relative;
  justify-items: center;
  z-index: 2;
  &:hover{
    .add-task {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  &__title {
    overflow: hidden;
    position: relative;
    display: grid;
    justify-items: start;
    align-items: center;
    outline: 1px solid #80808070;
    width: 100%;
    height: 50px;
    &:hover {
      .help-buttons {
        transform: translateY(0);
      }
    }
    &_input {
      padding: 0 0 0 15px;
      font-size: 20px;
      display: inline-block;
    }
    &_span {
      font-size: 20px;
      padding: 0 15px;
      justify-content: start;
      align-content: center;
    }
  }
  &__tasks{
    width: 100%;
  }
  .input {
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
  }
}
.help-buttons {
  user-select: none;
  overflow: hidden;
  transform: translateY(100%);
  transition: all ease-in-out 0.35s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &__item {
    cursor: pointer;
    &.info img {
      width: 30px;
      position: absolute;
      top: 20%;
      right: 15%;
    }
    &.delete {
      img {
        top: 30%;
        right: 4%;
        position: absolute;
        width: 20px;
      }
    }
  }
}
.add-task {
  display: grid;
  justify-items: center;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  width: 100%;
  transition: all ease-in-out 0.35s 0.1s;
  transform: translateY(50%);
  padding: 10px 0;
  img {
    width: 25px;
  }
}
