.formControl {
  &.error {
    outline: solid 1px red;
    span {
      color: red;
    }
  }
}

.formSummatyError {
  /* width: 165px; */
  text-align: center;
  outline: solid 1px red;
  color: red;
  display: grid;
  div {
    align-self: center;
    padding: 15px;
  }
}
