.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(75, 75, 75, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  transition: all ease 0.3s;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  &.active {
    z-index: 2;
    transition: all ease 0.5s;
    pointer-events: all;
    opacity: 1;
  }
  &__content {
    cursor: default;
    background-color: #fff;
    justify-items: center;
    border-radius: 15px;
    width: 50vw;
    padding: 30px;
    position: relative;
    transform: scale(0.5);
    transition: all 0.5s;
    display: grid;
    &.active {
      transform: scale(1);
    }
  }
  &_title {
    text-align: center;
    font-size: 18px;
  }
  &_input{
    width: 150px;
    padding: 5px 10px;
    margin: 15px 0;
  }
  &_btn{
    margin: 15px 0 10px;
    line-height: 30px;
    width: 100px;
  }
  &_exit {
    position: absolute;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
  }
}
