.add-list {
  display: grid;
  justify-items: center;
  &_title {
    text-align: center;
    font-size: 18px;
  }
  &_input{
    width: 150px;
    padding: 5px 10px;
    margin: 15px 0;
  }
  &_btn{
    margin: 15px 0 10px;
    line-height: 30px;
    width: 100px;
  }
}
