.login {
  display: grid;
  &__logout-btn{
    padding: 15px 30px;
  }
}

.form {
  display: grid;
  justify-self: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 30% 1fr;
  width: 200px;
  grid-template-areas:
    "email email"
    "password password"
    "rememberme remembermeText"
    "error error"
    "login login";
  input {
    margin: 10px;
    padding: 5px 10px;
  }
  &__input_email {
    grid-area: email;
  }
  &__input_password {
    grid-area: password;
  }
  &__checkbox_rememberme {
    grid-area: rememberme;
    input {
      cursor: pointer;
      height: 15px;
      width: 15px;
    }
  }
  &__input_text {
    grid-area: remembermeText;
    user-select: none;
    padding: 0 0 3px 0;
    cursor: pointer;
  }
  &__btnlogin {
    grid-area: login;
    width: 150px;
    font-weight: 700;
    padding: 15px 0;
    margin: 20px 0 15px;
  }
}
//   .error {
//     display: grid;
//     grid-area: error;
//     grid-template-areas:
//       "captcha"
//       "message";
//     &__message {
//       grid-area: message;
//       outline: solid 1px red;
//       color: red;
//       padding: 5px 10px;
//       margin: 15px 0;
//     }
//     &__captcha {
//       margin: 10px 0 0 0;
//       display: grid;
//       grid-area: captcha;
//       grid-template-areas:
//         "img"
//         "input";
//       &_img {
//         grid-area: img;
//         justify-self: center;
//         display: block;
//         width: 150px;
//       }
//       &_input {
//         grid-area: input;
//       }
//     }
//   }
// }
